#!/usr/bin/with-contenv sh

{{if (exists "/config/accesskey")}}
export MINIO_ACCESS_KEY="{{getv "/config/accesskey"}}"
{{end}}
{{if (exists "/config/secretkey")}}
export MINIO_SECRET_KEY="{{getv "/config/secretkey"}}"
{{end}}

{{- if (getenv "SCHEDULER_CONTAINERS_IP") }}
  {{- $servers := split (getenv "SCHEDULER_CONTAINERS_IP") "," }}
  {{- $length := len $servers}} {{if eq $length 1}}
      {{- if ge (len (ls "/disks")) 1}}
MINIO_VOLUMES="{{range $i, $diskName := ls "/disks"}}/data/{{getv (printf "/disks/%s" $diskName)}} {{end}}"
      {{- else}}
MINIO_VOLUMES="/data/disk0"      
      {{- end}}
    {{- else }}
      {{- if ge (len (ls "/disks")) 1}}
MINIO_VOLUMES="{{range $i, $ip := $servers}}{{range $j, $diskName := ls "/disks"}}http://{{$ip}}/data/{{getv (printf "/disks/%s" $diskName)}} {{end}}{{end}}"
      {{- else}}
MINIO_VOLUMES="{{range $i, $ip := $servers}}http://{{$ip}}/data/disk0{{end}}"
      {{- end}}
    {{- end }}

{{- else }}
  {{- $length := len (ls "/servers")}} {{if lt $length 2}}
    {{- if ge (len (ls "/disks")) 1}}
MINIO_VOLUMES="{{range $i, $diskName := ls "/disks"}}/data/{{getv (printf "/disks/%s" $diskName)}} {{end}}"
    {{- else}}
MINIO_VOLUMES="/data/disk0"
    {{- end}}
  {{- else }}
    {{- if ge (len (ls "/disks")) 1}}
MINIO_VOLUMES="{{range $i, $containerName := ls "/servers"}}{{range $j, $diskName := ls "/disks"}}http://{{getv (printf "/servers/%s" $containerName)}}/data/{{getv (printf "/disks/%s" $diskName)}} {{end}}{{end}}"
    {{- else}}
MINIO_VOLUMES="{{range $i, $containerName := ls "/servers"}}http://{{getv (printf "/servers/%s" $containerName)}}/data/disk0{{end}}"
    {{- end}}
  {{- end }}
{{- end }}


su minio -c "${APP_HOME}/bin/minio server ${MINIO_VOLUMES}"
