#!/usr/bin/with-contenv sh

{{ if (getenv "SCHEDULER_INSTANCES") }}
  {{ $servers := split (getenv "SCHEDULER_INSTANCES") "," }}
  {{ $length := len $servers}} {{if eq $length 1}}
MINIO_VOLUMES="{{range $i, $diskName := ls "/disks"}}/data/{{getv (printf "/disks/%s" $diskName)}} {{end}}"
    {{ else }}
MINIO_VOLUMES="{{range $i, $ip := $servers}}{{range $j, $diskName := ls "/disks"}}http://{{$ip}}/data/{{getv (printf "/disks/%s" $diskName)}} {{end}}{{end}}"
    {{ end }}

{{ else }}
  {{ $length := len (ls "/servers")}} {{if lt $length 2}}
MINIO_VOLUMES="{{range $i, $diskName := ls "/disks"}}/data/{{getv (printf "/disks/%s" $diskName)}} {{end}}"
  {{ else }}
MINIO_VOLUMES="{{range $i, $containerName := ls "/servers"}}{{range $j, $diskName := ls "/disks"}}http://{{getv (printf "/servers/%s" $containerName)}}/data/{{getv (printf "/disks/%s" $diskName)}} {{end}}{{end}}"
  {{ end }}
{{ end }}


su minio -c "${APP_HOME}/bin/minio server ${MINIO_VOLUMES}"
